*{
    margin: 0;
}
body p {
    color: white;
}

.nav{
    background-color: green;
    box-sizing: content-box;
    position: relative;
}

.container{
    max-width: 1400px;
    height: 600px;
    margin: auto;
    display: flex;
   flex-wrap: wrap;
}
.first{
    width: 400px;
    position: relative;
}

.first_img{
    height: 100px;
    background-image: url("img.png");
    background-position: center;
}
.float_top{
    background-color: grey;
    position: sticky;
    top: 0;
    z-index: 1;
}
.float_top p{
    padding: 5px;
}
.float_text2{
    background-color: #686868;
    height: 200px;
}
.float_text2 p{
    padding-left: 5px;
    padding-top: 12px;
    position: sticky;
    top: 14px;
}

.first_last{
    height: 272px;
    background-color: yellow;
}

.second{
    height: 600px;
    width: 300px;
    background-color: rgb(233, 210, 1);
    position: relative;
}
.second p{
    padding: 5px;
    position: sticky;
    top: 0;
}
#second_bott{
    position: absolute;
    bottom:0;
}

.third{
    height: 600px;
    width: 400px;
    background-image: url("iimage.jpg");
    position: relative;
}

.fourth {
    width: 300px;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourth p{
    padding-left: 5px;
  padding-top:15px;
}

footer{
    box-sizing: content-box;
    width: 100%;
    background-color: black;
    min-height: 1000px;
   margin-bottom: 0px;
}

@media screen and (max-width: 1417px) {
   .first, .second, .third{
       width: 33.33%
   }
   }

   @media screen and (max-width: 1050px) {
    .first, .second, .third, .fourth{
        width: 50%
    }
    }
    @media screen and (max-width: 722px) {
        .first, .second, .third, .fourth{
            width: 100%
        }
        }
